* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* ESTILOS BODY */
/*HEADER*/
#header {
    background-color: black;
    width: 100%;
    height: 70px;
    background-size: cover;
    display: flex;
    position: fixed;
    z-index: 10000 ;
    justify-content: space-around;
}
.headerLogo {
    width: 330px;
    height: 70px;
}
#nav ul li {
    display: inline-block;
    flex-wrap: wrap;
    margin: 14px;
    padding: 10px 10px;
    font-size: 15px;
}
#main{
    min-height: 100vh;
}
/*ESTILOS BODY*/
#body {
    max-width: 100px;
    background-color: black;
    height: auto;
}
/*MAIN INDEX*/
.imagesindex {
    width: 1256%;
    height: 360px;
    padding-top: 70px;
    flex-wrap: wrap;
}
.subtit1 {
    color: #ffffff;
    background-color: #370303;
    width: 1256%;
    height: 70px;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 13px;
    margin-bottom: 0px;
    font-size: 30px;
}
.video1{
    height: 580px;
    width: 1250%;
    text-align: center;
}
@media screen and (max-width:600px) {
    
}

/* ESTILOS ABOUT */
/* PRIMERA MAIN ABOUT */
.aboutcaja1{
    width: 90%;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
}
.aboutImagen1{
    width: 1396%;
    height: 355px;
    display: block;
    padding-top: 70px;
}
/*FRASE */
.aboutTitl{
    width: 1250%;
    height: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px ;
}
/* SEGUNDA PARTE DEL MAIN */
.mainAbout{
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
}
/* ABOUT THE BAND */
.subAbout1{
    color: #6d0b0b;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    width: 1180%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 70px;
    padding-left: 20px;
    font-size: 25px;
}
.primerItem{
    display: flex;
    height: auto;
    width: 1010%;
    margin-left: 100px;
    margin-right: 150px;
    justify-content: space-between;
    flex-direction: column;
    line-height: 20px;
}
.infoAbout{
    color: white;
    display: flex;
    height: auto;
}
.p1{
    width: 450px;
    margin: 10px 40px;
    height: 250px;
}
.p2{
    width: 450px;
    height: 250px;
    margin: 10px 60px;
}
/* TERCERA PARTE MAIN MEMBERS*/
.members__titl{  
    color: #6d0b0b;
    display: flex;
    height: 40px;
    width: 1180%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 70px;
    padding-left: 20px;
    font-size: 25px;
}
.members{
    width: 1230%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px
}
.members__card{
    background-color: black;
    width: 210px;
    height: auto;
    font-size: 15px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.members__card:hover {
    padding-bottom: 10px;
    padding-right: 5px;
    box-shadow: 10px 4px  8px rgba(97, 4, 4, 0.731);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.persona--perfil{
    width: 100%;
    height: 250px;
}
.persona--title{
    color: #6d0b0b;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.persona--texto{
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px
}
/* OTEHR PROJECTS */
.projects__titl{
    color: #6d0b0b;
    display: flex;
    height: 40px;
    width: 1180%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
    padding-left: 20px;
    font-size: 25px;
}
.projects{
    width: 650px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 50px;
    padding: 10px;
    padding-left: 10px;
}
.projects__card{
    background-color: black;
    width: 170px;
    height: 220px;
}
.projects--perfil{
    width: 170px;
    height: 170px;
    border-radius: 100%;
}
.btn{
    font-size: 26px;
    padding-left: 18px;
    background-color: black;
    border-color: black;
    color: #6d0b0b;
}

.btn-projects{
    font-size: 26px;
    padding-top: 2px;
    padding-left: 18px;
    padding-right: 12px;
    background-color: black;
    color: #6d0b0b;
}
@media screen and (max-width:750px) {
    .primerItem{
        flex-wrap: wrap;
        margin-right: 0;
    }
    .infoAbout{
        flex-wrap: wrap;
    }
    .members{
        flex-wrap: wrap;
    }
}

/*ESTILOS LISTEN */ 
.mainlisten{
    padding-top: 70px;
    min-height: 100vh;
    height: auto;
}
.streamUs{
    width: 1256%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    background-color: #370303;
}
.subTitListen{
    color: white;
    width: 1256%;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    margin-bottom: 0px;
}
.streamsUslinks {
    color: #ffffff00;
    margin-bottom: 5px;
    display: flex;
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.album__card{
    display: flex;
    flex-direction: row;
    margin: 19px;
    justify-content: center;
    width: 290px;
    height: 360px;
}
.albums__titl{
    color: #6d0b0b;
    display: flex;
    height: 30px;
    width: 1180%;
    margin-top: 24px;
    margin-bottom: 9px;
    margin-left: 70px;
    padding-left: 20px;
    font-size: 25px;
}

.albums{
    width: 1230%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px
}

/*ESTILOS MERCH*/
.mainMerch{
    min-height: 100vh;
    width: 100%;
    height: 740px;
}
.title-merch{
    color: #ffffff;
    background-color: #370303;
    width: 1256%;
    height: 70px;
    display: inline-block;
    text-align: center;
    margin-top: 70px;
    padding-top: 14px;
    font-size: 30px;
}
.subtMerch{
    color: #6d0b0b;
    display: flex;
    height: 30px;
    width: 1100%;
    margin-top: 20px;
    margin-bottom: 9px;
    margin-left: 80px;
    margin-right: 60px;
    padding: 0px 0px;
    font-size: 25px;
}
.carousel{
    width: 700%;
    height: 260px;
    margin-left: 300px;
    margin-right: 300px;
}
.carousel-inner{
    width: 500px;
    height: 220px;
    padding: 0px 44px;
    margin: 0px 85px;
}
.carousel-item{
    width: 300px;
    height: 220px;
    padding: 0px 30px;
    margin: 0px 70px;
}
.d-block{
    width: 100px;
    height: 230px;
}
.carousel-caption{
    width: 200px;
    height: 55px;
}
.rowMerch{
    width: 480%;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 150px;
}
.form-label{
    color: #6d0b0b;
    padding-top: 10px;
}

/* ESTILOS TOUR */
/* BODY MAIN TOUR */
.subTour{
    color: #ffffff;
    background-color: rgb(8, 72, 109);
    width: 1250%;
    height: 70px;
    display: inline-block;
    text-align: center;
}
.tourcaja1{
    width: 90%;
    position: relative;
    display: inline-block;
}
.tourImagen1{
    width: 1300%;
    height: 335px;
    display: block;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.tourTitl{
    width: 1250%;
    height: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: xx-large
}
.row{
    align-items: center;
}
.container{
    color: white;
    width: 900%;
    height: 400px;
    padding: 15px;
    margin-left: 180px;
    margin-right: 350px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.item-btm{
    display: block;
    padding: .75rem 1.25rem;
}
.buttom__list{
    background-color: #370303;
    color: #ffffff;
    border-radius: 1px;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

/* ESTILOS FOOTER */
#footer{
    background-color: black;
    width: 1256px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}
.footerlogo{ 
    display: flex;
    height: 90px;
    margin-top: 14px;
}
#footerNav {
    margin: 15px;
    margin-bottom: 5px;
    display: inline-block;
    height: 60px;
    width: 50%;
}
#footerNav ul {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 50px;
    color: black;
}
.footerNav-copy{
    display: flex;
    color: white;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    margin-bottom: 0px;
}
.footerRedes{
    margin: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 32px;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
}