/*MAIN INDEX*/
.imagesindex {
    width: 1256%;
    height: auto;
    flex-wrap: wrap;
    padding-top: 110px;
}
.subtit1 {
    color: #ffffff;
    background-color: #370303;
    width: 1256%;
    height: 80px;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 0px;
    font-size: 35px;
}
.video1{
    height: auto;
    width: 1250%;
    text-align: center;
}
.img-fluid{
    width: 100%;
}
@media screen and (max-width:768px) {
    /*MAIN INDEX*/
    .imagesindex{
        padding-top: 210px;
        height: 650px;
    }
    .subtit1{
        font-size: 65px;
        padding-top: 50px;
        margin-bottom: 0px;
        height: 190px;
    }
}
@media screen and (max-width:480px) {
    .imagesindex{
        height: 750px;
    }
}