/* ESTILOS FOOTER */
#footer{
    background-color: black;
    width: 1256px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.footerlogo{ 
    display: flex;
    height: auto;
}
#footerNav {
    display: flex;
    height: auto;
    width: 50%;
    justify-content: center;
    flex-direction: column;
}
#footerNav ul {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    color: black;
    font-size: 20px;
}
#footerNav ul li a{
    color: #6d0b0b;
}
.footerNav-copy{
    display: flex;
    color: white;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    margin-bottom: 0px;
}
.footerRedes{
    margin: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 32px;
    align-items: center;
}

@media screen and (max-width:768px) {
    #footer{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 1250%;
    }
    .footerlogo{
        width: 300px;
        height: 140px;
    }
    #footerNav{
        margin-bottom: 0;
    }
    #footerNav ul{
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;
        }
    .footerCopy{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .footerRedes{
        font-size: 50px;
        margin-top: 15px;
        gap: 60px;
    }
}