/* ESTILOS FOOTER */
#footer{
    background-color: black;
    width: 1256px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}
.footerlogo{ 
    display: flex;
    height: 90px;
    margin-top: 14px;
}
#footerNav {
    margin: 15px;
    margin-bottom: 5px;
    display: inline-block;
    height: 60px;
    width: 50%;
}
#footerNav ul {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 50px;
    color: black;
}
#footerNav ul li a{
    color: #6d0b0b;
}
.footerNav-copy{
    display: flex;
    color: white;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    margin-bottom: 0px;
}
.footerRedes{
    margin: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 32px;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
}
@media screen and (max-width:768px) {
    #footer{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 1200%;
    }
    #footerNav{
        margin-top: 5px;
        margin-bottom: 0;
    }
    #footerNav ul{
        flex-direction: row;
        align-items: center;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;
    }
    .footerCopy{
        margin-top: 80px;
    }
    .footerLogo{
        width: 200px;
    }
    .footerRedes{
        font-size: 50px;
        margin-top: 0;
        gap: 60px;
    }
}