/*HEADER*/
#header {
    background-color: black;
    width: 100%;
    height: auto;
    background-size: cover;
    display: flex;
    position: fixed;
    z-index: 10000 ;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}
.headerLogo {
    width: 320px;
    height: 80px;
}
#nav ul{
    margin-bottom: 0;
}
#nav ul li{
    display: inline-block;
    flex-wrap: wrap;
    margin: 14px;
    padding: 10px 10px;
    font-size: 20px;
}
#nav ul li a{
    color: #6d0b0b;
}